nav {
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "circular";
}

ul {
    width: fit-content;
    margin: 0 auto;
    list-style: none;
}

ul li {
    float: left;
    margin-right: 30px;
    font-size: 20px;
}

ul li a {
    color: #ed4384;
    text-decoration: none;
    float: left;
    margin-right: 30px;
}

nav a:hover:not(.active) {
    color: #494949;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}

@font-face {
    font-family: "proxima-reg";
    src: url("ProximaNova-Regular.otf") format('opentype');
}

@font-face {
    font-family: "proxima-bold";
    src: url("Proxima Nova Bold.otf") format('opentype');
}

@font-face {
    font-family: "circular";
    src: url("CircularStd-Black.otf") format('opentype');
}

#fontasyVid {
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    padding: 0%;
}

body {
    margin: 0 auto;
}

#page2 h1 {
    font-family: "circular";
    color: #494949;
    background-color: #ffffff;
    width: 247px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#page2 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
}

.bold {
    font-family: "proxima-bold";
}

#page3 h1 {
    font-family: "circular";
    color: #ffffff;
    background-color: #ed4384;
    width: 400px;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0%;
}

#page3 p {
    font-family: "proxima-reg";
    color: #494949;
    font-size: 30px;
    text-align: right;
    padding-left: 7%;
    padding-right: 3%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 10%;
}

#page4 h1 {
    font-family: "circular";
    color: #494949;
    background-color: #ffffff;
    width: 400px;
    margin-top: 0%;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#page4 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    padding-left: 3%;
    padding-right: 7%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 15%;
}

#page5 h1 {
    font-family: "circular";
    color: #ffffff;
    background-color: #ed4384;
    width: 200px;
    margin-top: 0%;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#page5 p {
    font-family: "proxima-reg";
    color: #494949;
    font-size: 30px;
    text-align: right;
    padding-left: 7%;
    padding-right: 3%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 10%;
}

.free {
    background-color: #494949;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 35%;
    margin-bottom: 10%;

}

.free a {
    color: inherit;
    text-decoration: none;
}

.free:hover {
    background: #ed4384;
    color: #ffffff;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;

}

.purchase {
    background-color: #ed4384;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 55%;
    margin-bottom: 10%;

}

.purchase a {
    color: inherit;
    text-decoration: none;
}

.purchase:hover {
    background: #494949;
    color: #ffffff;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;

}

.blinking-cursor {
    font-weight: 100;
    font-size: 40px;
    color: #494949;
    padding-left: 3%;
    -webkit-animation: .9s blink ease-in-out infinite;
    -moz-animation: .9s blink ease-in-out infinite;
    -ms-animation: .9s blink ease-in-out infinite;
    -o-animation: .9s blink ease-in-out infinite;
    animation: .9s blink ease-in-out infinite;
}


@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #494949;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #494949;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #494949;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #494949;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #494949;
    }
}


.blinking-cursor-1 {
    font-weight: 100;
    font-size: 40px;
    color: red;
    padding-left: 3%;
    -webkit-animation: .9s blink-blue ease-in-out infinite;
    -moz-animation: .9s blink-blue ease-in-out infinite;
    -ms-animation: .9s blink-blue ease-in-out infinite;
    -o-animation: .9s blink-blue ease-in-out infinite;
    animation: .9s blink-blue ease-in-out infinite;
}



@keyframes "blink-blue" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffffff;
    }
}

@-moz-keyframes blink-blue {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffffff;
    }
}

@-webkit-keyframes "blink-blue" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffffff;
    }
}

@-ms-keyframes "blink-blue" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffffff;
    }
}

@-o-keyframes "blink-blue" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffffff;
    }
}



section {
    width: 100%;
    height: 900px;
    float: left;
    margin: 0 auto;
}

#page2 {
    background-color: #ed4384;
    margin: 0 auto;
}

#page3 {
    background-color: #ffffff;
    margin: 0 auto;
    background-image: url(images/Fontasy%20Mockup.png);
    background-position: center;
    width: 100%;
    height: 900px;
}

#page4 {
    background-color: #ed4384;
    margin: 0 auto;
    background-image: url(images/Font-Of-The-Day%20copy.png);
    background-position: center;
    width: 100%;
    height: 900px;
}

#page5 {
    background-color: #ffffff;
    margin: 0 auto;
}


@media(max-width: 1024px) { 
    
#page2 h1 {
    font-family: "circular";
    color: #494949;
    background-color: #ffffff;
    width: 247px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#page2 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
}

    section {
    width: 100%;
    height: 700px;
    float: left;
    margin: 0 auto;
}

    #page3 {
    background-color: #ffffff;
    margin: 0 auto;
    background-image: url(images/Fontasy%20Mockup.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
    
    #page4 {
    background-color: #ed4384;
    margin: 0 auto;
    background-image: url(images/Font-Of-The-Day%20copy.png);
    background-position: center;
    width: 100%;
    height: 700px;
}
    #page5 {
    background-color: #ffffff;
    margin: 0 auto;
    height: 700px;
}

#page3 p {
    font-family: "proxima-reg";
    color: #494949;
    font-size: 25px;
    text-align: right;
    padding-left: 7%;
    padding-right: 3%;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 3%;
}

#page4 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 25px;
    text-align: left;
    padding-left: 3%;
    padding-right: 7%;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 3%;
    margin-right: 15%;
}

.purchase {
    background-color: #ed4384;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 55%;
    margin-bottom: 10%;

}
    
.free {
    background-color: #494949;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-bottom: 10%;

}
}

@media(max-width: 375px) { 
    
ul li {
    float: left;
    margin-right: 30px;
    font-size: 25px;
}

    #page2 h1 {
    font-family: "circular";
    color: #494949;
    background-color: #ffffff;
    width: 247px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#page2 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
}

    section {
    width: 100%;
    height: 700px;
    float: left;
    margin: 0 auto;
}

    #page3 {
    background-color: #ffffff;
    margin: 0 auto;
    background-image: url(images/Fontasy%20Mockup.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
    
    #page4 {
    background-color: #ed4384;
    margin: 0 auto;
    background-image: url(images/Font-Of-The-Day%20copy.png);
    background-position:center;
    width: 100%;
    height: 700px;
}
    #page5 {
    background-color: #ffffff;
    margin: 0 auto;
    height: 700px;
}

#page3 p {
    font-family: "proxima-reg";
    color: #494949;
    font-size: 15px;
    text-align: right;
    padding-left: 7%;
    padding-right: 3%;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 3%;
}

#page4 p {
    font-family: "proxima-reg";
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    padding-left: 3%;
    padding-right: 7%;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 15%;
}
    
#page5 p {
    font-family: "proxima-reg";
    color: #494949;
    font-size: 15px;
    text-align: right;
    padding-left: 7%;
    padding-right: 3%;
    margin-top: 20%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 10%;
}

.purchase {
    background-color: #ed4384;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 55%;
    margin-bottom: 10%;

}
    
.free {
    background-color: #494949;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-family: "circular";
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-bottom: 10%;

}
}
